<div class="form-group">
    <div class="row">
        <div class="col-md-10">
            <label for="exampleInputEmail1">Enter Patient ID</label>
            <input type="text" [(ngModel)]="regname" class="form-control" #regvalue id="exampleInputEmail1"
                [disabled]="disablestatus" aria-describedby="emailHelp">

        </div>
        <div class="col-md-2 mt-4"> <button type="button" [disabled]="regname == ''" class=" mt-2 btn btn-primary"
                (click)="patientValidate(regvalue.value)">Validate</button></div>
    </div>

    <div class="row">
        <div class="col text-center mt-2">
            <div class="btn-group " role="group">
                <button type="button" class="btn btn-secondary mr-2 btn-info" (click)="patientstatus()"
                    *ngIf="patientdetails">Show Patient Details
                </button>
                <button type="button" class="btn btn-secondary mr-2 btn-info" (click)="appointmentstatus()"
                    *ngIf="appointmentdetails">Show Appointment Details </button>
            </div>
        </div>

        <div class="container-fluid mt-2">
            
            <div class="card border border-danger mx-auto" *ngIf="checkuser && showuserstatus">

                <div class="card-header mauve-gradient text-white" ng-repeat="checkusers in checkuser">
                    Patient Details
                </div>
                <ul class="list-group list-group-flush text-success" *ngFor="let checkusers of checkuser">
                    <li class="list-group-item"><span class="font-weight-bold">Registration ID</span>:
                        {{checkusers.name}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Clinic Source</span>:
                        {{checkusers.field_clinic_source}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Patient Address</span>:
                        {{checkusers.field_patient_address}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Patient Age</span>:
                        {{checkusers.field_patient_age}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Patient Gender</span>:
                        {{checkusers.field_patient_sex}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Patient Contact Number</span>:
                        {{checkusers.field_patient_contact_number}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Patient Prescription</span>: <a
                            href="{{checkusers.field_patient_referred_prescript}}" download>Download</a></li>
                    {{checkusers.field_patient_referred_prescript}}
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

            <div class="card border border-danger mx-auto" *ngIf="checkappointment && showappointmentstatus">

            <table mat-table [dataSource]="checkappointment" class="mat-elevation-z8" color="accent">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Branch Column -->
                <ng-container matColumnDef="Branch">
                  <th mat-header-cell *matHeaderCellDef> Branch </th>
                  <td mat-cell *matCellDef="let element"> {{element.field_branch_name}} </td>
                </ng-container>
              
                <!-- Doctor Referred Column -->
                <ng-container matColumnDef="Doctor Referred">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.field_doctor_referred}} </td>
                </ng-container>
              
                <!-- Treatment Type Column -->
                <ng-container matColumnDef="Treatment Type">
                  <th mat-header-cell *matHeaderCellDef> Treatment Type</th>
                  <td mat-cell *matCellDef="let element"> {{element.field_type_of_treatment}} </td>
                </ng-container>
              
                <!-- Visit Date Column -->
                <ng-container matColumnDef="Visit Date">
                  <th mat-header-cell *matHeaderCellDef> Visit Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.field_visit_date}} </td>
                </ng-container>

                <!-- Department Column -->
                <ng-container matColumnDef="Department">
                  <th mat-header-cell *matHeaderCellDef> Department </th>
                  <td mat-cell *matCellDef="let element"> {{element.field_department}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              </div>
              
              
        </div>